[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonify = "*"
cloudinary = "*"
python-dotenv = "*"
flask-pymongo = "*"
pymongo = "*"
flask-jwt-extended = "*"
bcrypt-flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
