.show-item-container {
  width: 700px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-item-contents {
  height: auto;
  width: auto;
  color: white;
  font-size: 36px;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
